* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* common styles here  */
.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 35px;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
}

.btn-secondary {
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: #FFF8F3;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3rem;
}


/* header related styles here  */
.header {
    background: #FFF8F3;
}


/* nav related styles here  */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

.navigation h1 {
    color: #181818;
    font-size: 2rem;
    font-weight: 800;
}

.navigation span {
    color: #FD6E0A;
    font-size: 2rem;
    font-weight: 800;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li {
    list-style: none;
    margin-left: 50px;
}

.navigation ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 1.2rem;
    font-weight: 400;
}

/* banner styles starts here  */

.banner {
    width: 90%;
    margin: 30px 0 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-content {
    max-width: 585px;
}

.banner-greeting {
    color: #474747;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.about {
    width: 80%;
    margin: 130px 10%;
}

/* .about styles starts here  */
.about-section {

    padding: 130px 10%;
    background: #FFF8F3;
}

#about-description {
    margin: 30px 0;
}

.about-important-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.info-type {
    color: #757575;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.info-content {
    color: #474747;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
}


/* what is do styles starts here  */
.what-i-do {
    width: 80%;
    margin: 100px auto;
}

.what-i-do h3 {
    margin-bottom: 30px;
}

.what-i-do p {
    margin-bottom: 50px;
}

.skills-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skills {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 33px;
}

.skills-title {
    color: #181818;
    font-size: 1rem;
    font-weight: 700;
    margin: 30px 0;
}

.description {
    color: #757575;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}